<footer>
  <div class="frame">

    <div class="bit-1">
      <h3 id="side-footer">Side Projects & Contact Links</h3>
      <ul class="side-projects">
        <li><a href="">Illustrations.space (Coming Soon)</a></li>
        <li><a href="">We Work In Our Pjs (Coming Soon)</a></li>
      </ul>
    </div>

    <div class="center">
      <ul class="footer-links">

        <li><a href="https://twitter.com/JoshAMacD">
          <img class="social" src="assets/images/icon.svg"><br>
          Email
        </a></li>

        <li><a href="https://twitter.com/JoshAMacD">
          <img class="social" src="assets/images/icon.svg"><br>
          Twitter
        </a></li>

        <li><a href="https://dribbble.com/JoshMac">
          <img class="social" src="assets/images/icon.svg"><br>
          Dribbble
        </a></li>

        <li><a href="https://medium.com/@JoshuaMacDonald">
          <img class="social" src="assets/images/icon.svg"><br>
          Medium
        </a></li>

        <li><a href="">
          <img class="social" src="assets/images/icon.svg"><br>
          Behance
        </a></li>

        <li><a href="">
          <img class="social" src="assets/images/icon.svg"><br>
          Instagram
        </a></li>
      </ul>
    </div>

    <h4 class="bit-1" id="with-love">Designed & Hand Coded In The Moutains & Foothills Of Maine</h4>
    <h5 class="bit-1" id="copyright">© Joshua MacDonald All Rights Reserved</h5>

  </div>
</footer>
