<nav class="mobile-nav">

  <div class="mobilenav">
    <li><a href="index.html">Illustrations</a></li>
    <li><a href="projects.html">Projects</a></li>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="#">Contact</a></li>
    <h2>Side Projects:</h2>
    <li><a href="#">Illustrations.space</a></li>
    <li><a href="#">We Work In Our Pjs</a></li>
  </div>

  <a href="javascript:void(0)" class="icon">

    <div class="hamburger">

    <div class="menui top-menu"></div>
    <div class="menui mid-menu"></div>
    <div class="menui bottom-menu"></div>

    </div>
  </a>
</nav>
