<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  {% include mobile-nav.html %}
  {% include header.html %}

    <div class="projects frame">

      <div class="bit-1">
        <a href="preying-owl.html" class=""><img src="assets/images/lff.png" class="proj-thumbs" alt="" title="" />Preying Owl</a>
      </div>

      <div class="bit-4">
        <a href="preying-owl.html" class=""><img src="assets/images/proj-prey.png" class="proj-thumbs" alt="" title="" />Preying Owl</a>
      </div>

    </div>

  {% include footer.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="js/hamburgler.js"> </script>
  </body>
</html>
